//Inspired by: https://davidwalsh.name/write-media-queries-sass

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1440px;

//Specific to mobile devices
@mixin smq__mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
      @content;
    }
}

//Specific to tablet devices
@mixin smq__tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

// Specific to desktop devices. Will include large desktop devices
@mixin smq__desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Specific to large desktop devices. Will not include smaller desktop devices
@mixin smq__large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

// All Mobile Devices including tablets
@mixin smq__all-mobile {
    @media (max-width: #{$desktop-width}) {
      @content;
    }
}

// No Mobile devices
@mixin smq__not-mobile {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
}

// All Desktop Devices
@mixin smq__all-desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// No Desktop devices
@mixin smq__not-desktop {
    @media (max-width: #{$desktop-width}) {
      @content;
    }
}

// Convinience Classes
.smq__mobile {
  display: none;

  @include smq__mobile {
    display: block;
  }
}

.smq__tablet {
  display: none;

  @include smq__tablet {
    display: block;
  }
}

.smq__desktop {
  display: none;

  @include smq__desktop {
    display: block;
  }
}

.smq__large-desktop {
  display: none;

  @include smq__large-desktop {
    display: block;
  }
}

.smq__all-mobile {
  display: none;

  @include smq__all-mobile {
      display: block;
  }
}

.smq__not-mobile {
  display: none;

  @include smq__not-mobile {
      display: block;
  }
}


.smq__all-desktop {
  display: none;

  @include smq__all-desktop {
      display: block;
  }
}


.smq__not-desktop {
  display: none;

  @include smq__not-desktop {
      display: block;
  }
}
